# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
log.txt

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Build artifacts
dist/
build/
.cache/
coverage/

# Docker
docker-compose.override.yml
docker-compose.yml
*.pid
*.seed
*.pid.lock

# PHP related
vendor/
composer.lock

# Temporary files
tmp/
temp/
*.tmp
*.swp
*.swo

# Lazygit
lazygit
lazygit.tar.gz

# PHP
.php-cs-fixer.cache

