---
import SiteBaseLayout from "../layouts/SiteBaseLayout.astro";
---

<SiteBaseLayout title="Statistics">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-16">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold text-white">BMI-Statistiken</h1>
        <p class="mt-2 text-sm text-gray-300">
          Durchschnittliche BMI-Werte pro Land (Stand: 01.01.2024)
        </p>
      </div>
    </div>

    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div
            class="overflow-hidden outline-1 -outline-offset-1 outline-white/10 sm:rounded-lg"
          >
            <table class="relative min-w-full divide-y divide-white/15">
              <thead class="bg-gray-800/75">
                <tr>
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-200 sm:pl-6"
                    >Land</th
                  >
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                    >ISO 3166</th
                  >
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                    >Rang</th
                  >
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                    >Gesamt</th
                  >
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                    >Männlich</th
                  >
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                    >Weiblich</th
                  >
                </tr>
              </thead>

              <tbody class="divide-y divide-white/10 bg-gray-800/50">
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6 whitespace-nowrap"
                    >Austria</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                    >AT</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                    >119</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                    >25.4</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                    >26.5</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                    >24.4</td
                  >
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Belgium</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">BE</td>
                  <td class="px-3 py-4 text-sm text-gray-400">114</td>
                  <td class="px-3 py-4 text-sm text-gray-400">25.5</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.2</td>
                  <td class="px-3 py-4 text-sm text-gray-400">24.7</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Czechia</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">CZ</td>
                  <td class="px-3 py-4 text-sm text-gray-400">55</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.3</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.0</td>
                  <td class="px-3 py-4 text-sm text-gray-400">25.6</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >France</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">FR</td>
                  <td class="px-3 py-4 text-sm text-gray-400">124</td>
                  <td class="px-3 py-4 text-sm text-gray-400">25.3</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.1</td>
                  <td class="px-3 py-4 text-sm text-gray-400">24.6</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Germany</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">DE</td>
                  <td class="px-3 py-4 text-sm text-gray-400">79</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.3</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.0</td>
                  <td class="px-3 py-4 text-sm text-gray-400">25.6</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Italy</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">IT</td>
                  <td class="px-3 py-4 text-sm text-gray-400">94</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.0</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.8</td>
                  <td class="px-3 py-4 text-sm text-gray-400">25.2</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Spain</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">ES</td>
                  <td class="px-3 py-4 text-sm text-gray-400">63</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.7</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.4</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.0</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Sweden</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">SE</td>
                  <td class="px-3 py-4 text-sm text-gray-400">106</td>
                  <td class="px-3 py-4 text-sm text-gray-400">25.8</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.7</td>
                  <td class="px-3 py-4 text-sm text-gray-400">24.9</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Switzerland</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">CH</td>
                  <td class="px-3 py-4 text-sm text-gray-400">125</td>
                  <td class="px-3 py-4 text-sm text-gray-400">25.3</td>
                  <td class="px-3 py-4 text-sm text-gray-400">26.7</td>
                  <td class="px-3 py-4 text-sm text-gray-400">23.8</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >Turkey</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">TR</td>
                  <td class="px-3 py-4 text-sm text-gray-400">31</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.8</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.1</td>
                  <td class="px-3 py-4 text-sm text-gray-400">28.5</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >United Kingdom</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">GB</td>
                  <td class="px-3 py-4 text-sm text-gray-400">40</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.3</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.5</td>
                  <td class="px-3 py-4 text-sm text-gray-400">27.1</td>
                </tr>
                <tr>
                  <td
                    class="py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-6"
                    >United States</td
                  >
                  <td class="px-3 py-4 text-sm text-gray-400">US</td>
                  <td class="px-3 py-4 text-sm text-gray-400">20</td>
                  <td class="px-3 py-4 text-sm text-gray-400">28.5</td>
                  <td class="px-3 py-4 text-sm text-gray-400">28.5</td>
                  <td class="px-3 py-4 text-sm text-gray-400">28.5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</SiteBaseLayout>
