---
import InputComponent from "./InputComponent.astro";
import ButtonComponent from "./ButtonComponent.astro";
---

<div class="my-16 sm:my-32">
  <div
    id="result"
    class="mx-auto max-w-xl text-yellow-500 text-3xl font-bold my-6"
  >
  </div>
  <div class="mx-auto max-w-xl">
    <form
      method="post"
      action="http://localhost:8080/calculate_bmi.php"
      target="_blank"
      class="space-y-6"
    >
      <InputComponent
        labelFor="bodyHeight"
        label="Body Height"
        inputId="bodyHeight"
        inputType="text"
        inputName="bodyHeight"
        inputPlaceholder="180 cm"
      />
      <InputComponent
        labelFor="bodyWeight"
        label="Body Weight"
        inputId="bodyWeight"
        inputType="text"
        inputName="bodyWeight"
        inputPlaceholder="80 kg"
      />
      <div class="flex gap-4">
        <ButtonComponent
          primary="true"
          buttonText="Calculate Server Side"
          buttonType="submit"
        />
        <ButtonComponent
          id="clientBtn"
          buttonType="button"
          primary="true"
          buttonText="Calculate Client Side"
        />
        <ButtonComponent buttonText="Reset" buttonType="reset" />
      </div>
    </form>
  </div>
</div>

<!-- Client Side JavaScript -->
<script>
  const btn = document.querySelector("#clientBtn") as HTMLButtonElement;
  const weightInput = document.querySelector("#bodyWeight") as HTMLInputElement;
  const heightInput = document.querySelector("#bodyHeight") as HTMLInputElement;
  const result = document.getElementById("result") as HTMLDivElement | null;

  btn.addEventListener("click", () => {
    const weight = parseFloat(weightInput.value);
    const height = parseFloat(heightInput.value);

    if (isNaN(weight) || isNaN(height) || height <= 0) {
      result!.textContent = "⚠️ Please enter valid numbers.";
      return;
    }

    const bmi = weight / (height / 100) ** 2;
    result!.textContent = `Your BMI is ${bmi.toFixed(1)}`;
  });
</script>
