---
const { title } = Astro.props;
---

<div class="md:flex md:items-center md:justify-between bg-gray-900">
  <div class="min-w-0 flex-1 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-4">
    <h2
      class="text-xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight text-center sm:text-left"
    >
      {title}
    </h2>
  </div>
</div>
