---
import "../styles/global.css";
import HeaderComponent from "../components/HeaderComponent.astro";
import FooterComponent from "../components/FooterComponent.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-gray-900">
    <!-- Header -->
    <HeaderComponent title={title} />

    <!-- Content -->
    <div class="">
      <slot />
    </div>

    <!-- Footer -->
    <FooterComponent />
  </body>
  <style>
    /* Scoped CSS Styles */
  </style>
</html>
