services:
  astro:
    build: .
    ports:
      - "4321:4321"
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
